*.dll
ShoppingCart.WebUI/obj/*
ShoppingCart.WebUI/bin/*
*.pdb
*.cache
ShoppingCart.ServiceLibrary/obj/*
ShoppingCart.ServiceLibrary/bin/*
ShoppingCart.ServiceLibrary.UnitTest/obj/*
ShoppingCart.ServiceLibrary.UnitTest/bin/*
ShoppingCart.Library/obj/*
ShoppingCart.Library/bin/*
ShoppingCart.Infrastructure/obj/*
ShoppingCart.Infrastructure/bin/*
ShoppingCart.Database/obj/*
ShoppingCart.Database/bin/*